.page-project .tags {
  width: 100%; }

.page-project .text-editor-summary textarea {
  height: 250px; }

.page-resource-list .list-container {
  margin: 0 auto; }

body {
  background: white; }

.form-control {
  width: 300px; }
