.page-project .tags {
  width: 100%; }

.page-project .text-editor-summary textarea {
  height: 250px; }

.page-project .tags-list {
  margin-bottom: 10px;
  overflow: hidden; }

.page-project .tag {
  float: left;
  background: #eee;
  border-radius: 5px;
  padding: 5px;
  margin-right: 3px; }
  .page-project .tag.suggested {
    background: #99E5D9;
    cursor: pointer; }
    .page-project .tag.suggested:hover {
      background: #70dbca; }
  .page-project .tag a {
    color: #33B7B7; }
  .page-project .tag:hover .delete-btn {
    display: inline;
    text-decoration: none; }
  .page-project .tag .delete-btn {
    display: none; }

.page-project .upload-medias-btn {
  float: right; }

.page-project .drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  height: 65px;
  text-align: center;
  padding-top: 25px;
  margin-left: 10px; }

.page-project .media-item {
  vertical-align: top;
  position: relative;
  margin: 10px 10px 10px 0;
  background: #DBDBDB;
  padding: 10px;
  box-shadow: 3px 3px 5px #aaa; }
  .page-project .media-item .delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: #DBECEB; }
  .page-project .media-item.selected {
    background: #B7FAF0; }

.page-project .project-media-caption {
  border: 1px solid #ddd;
  display: block;
  margin-top: 10px;
  bottom: 10px;
  width: 100%; }
  .page-project .project-media-caption.static-caption {
    max-width: 270px;
    word-wrap: break-word;
    background-color: #DBECEB;
    padding: 5px;
    color: #333; }

.page-project .project-medias,
.page-project .uploaded-medias,
.page-project .published-medias {
  clear: both;
  border: 2px dashed #DDD;
  padding: 10px;
  margin: 15px 0; }

.page-project .list-inline {
  min-height: 30px;
  background: #eee;
  padding: 0 10px;
  box-shadow: 3px 3px 5px #eee; }

.page-project .uploaded-medias,
.page-project
.published-medias {
  border: 1px solid #DDD; }

.page-resource-list .list-container {
  margin: 0 auto; }

body {
  background: white; }

a {
  color: #7EE4D3;
  text-decoration: none; }

.form-control {
  width: 300px; }

.navbar {
  margin-top: 15px;
  margin-bottom: 30px; }
  .navbar .navbar-brand {
    color: #7EE4D3;
    font-weight: bold; }

.delete-btn {
  cursor: pointer;
  color: #33B7B7;
  margin-left: 5px;
  border: 1px solid #99E5D9;
  padding: 2px;
  border-radius: 3px; }
  .delete-btn:hover {
    color: #288f8f;
    border: 1px solid #288f8f; }
