$suggestedTagColor: #99E5D9;

.page-project {
	.tags {
		width: 100%;
	}

	.box-outlined{
		border: 1px solid #ddd;
		padding: 10px;
	}

	.text-editor-summary {
		textarea {
			height: 250px;
		}
	}

	.tags-list {
		margin-bottom: 10px;
		overflow: hidden;
	}

	.tag {
		float: left;
		background: #eee;
		border-radius: 5px;
		padding: 5px;
		margin-right: 3px;

		&.suggested {
			background: $suggestedTagColor;
			cursor: pointer;

			&:hover {
				background: darken($suggestedTagColor, 10);

			}
		}

		a {
			color: $lightMintGreen;
		}

		&:hover {
			.delete-btn {
				display: inline;
				text-decoration: none;
			}
		}

		.delete-btn {
			display: none;
		}
	}

	.upload-medias-btn{
		float: right;
	}

	.drop-box {
	  background: #F8F8F8;
	  border: 5px dashed #DDD;
	  width: 200px;
	  height: 65px;
	  text-align: center;
	  padding-top: 25px;
	  margin-left: 10px;
	}

	.btn{
		margin-left: 10px;
		margin-top: 10px;
		&:focus{
			outline: 0;
		}
	}

	.toggle-hide-btn{
		float: right;
		cursor: pointer;
	}

	.media-item{
		vertical-align: top;
		position: relative;
		margin: 10px 10px 0 0;
		background: #DBDBDB;
		padding: 10px;
		box-shadow: 3px 3px 5px #aaa;

		.delete-btn{
			position: absolute;
			top: 0;
			right: 0;
			background: #DBECEB;
		}

		&.selected{
			background: $lightGreen;
		}
	}

	.project-media-caption{
		border: 1px solid #ddd;
		display: block;
		margin-top: 10px;
		bottom: 10px;
		width: 100%;

		&.static-caption{
			max-width: 270px;
  			word-wrap: break-word;
  			background-color: #DBECEB;
  			padding: 5px;
  			color: #333;
		}
	}

	.html-media-holder {
		iframe {
			max-width: 330px;
		}
	}

	.video-editor{
		overflow: hidden;
	}

	.project-medias,
	.uploaded-medias,
	.published-medias,
	.video-editor{
		clear: both;
		border: 2px dashed #DDD;
		padding: 10px;
		margin: 15px 0;
	}

	.list-inline{
		min-height: 30px;
		background: #eee;
		padding: 10px;
		box-shadow: 3px 3px 5px #eee;
	}

	.uploaded-medias,
	.published-medias
	{
		border: 1px solid #DDD;
	}

}