<div class="page-project">
	<h1 ng-if="$state.current.name === 'root.project.create'">Create a new project</h1>
	<h1 ng-if="$state.current.name === 'root.project.edit'">Edit a project</h1>
	<folio-alert message="message"></folio-alert>
	<div class="page-body">
		<form ng-submit="submit()">
		  <div class="row">
			  <div class="col-md-3 form-group">
			    <label for="title">Title</label>
			    <input ng-model="project.title" type="title" class="form-control" id="title" placeholder="Title">
			  </div>
			  <div class="col-md-3 col-md-offset-1 form-group">
			    <label for="tagline">Tagline</label>
			    <input ng-model="project.tagline" type="text" class="form-control" id="tagline" placeholder="Tagline">
			  </div>
			</div>
		  <div class="form-group text-editor text-editor-summary">
		  	 <label>Project description summary</label>
		 	<textarea ui-tinymce="tinymceOptions" ng-model="project.summaryText"></textarea>
		  </div>
		  <div ng-class="{'box-outlined': !showFullDesc}" class="form-group">
		  	 <label>Project description page content</label>
		  	 <i ng-class="{'fa-angle-down': showFullDesc, 'fa-angle-left': !showFullDesc}" ng-click="showFullDesc = !showFullDesc" class="fa toggle-hide-btn"></i>
		  </div>
		  <div ng-show="showFullDesc" class="form-group text-editor text-editor-full">
		 	<textarea ui-tinymce="tinymceOptions" ng-model="project.fullText"></textarea>
		  </div>
		  <div class="row">
		  	 <div class="col-md-3 form-group">
			    <label for="urlTitle">Project URL Title</label>
			    <input ng-model="project.urlTitle" type="text" class="form-control" id="urlTitle" placeholder="Project Url Title">
			  </div>
			  <div class="col-md-3 col-md-offset-1 form-group">
			    <label for="url">Project URL</label>
			    <input ng-model="project.url" type="text" class="form-control" id="url" placeholder="Project Url">
			  </div>
		  </div>
		   <div class="form-group">
		    <label for="date">Date of release</label>
		    <input required type="date" ng-model="project.date" class="form-control" id="date" placeholder="Date of release">
		  </div>
		  <div class="form-group row">
			  	<div class="col-md-6">
				  	<div class="form-group">
				  		<label for="thumbnail">Thumbnail</label>
				  		 <button class="btn" ngf-select="" ng-model="projectThumb" ngf-multiple="multiple">
					    	<span ng-if="project.thumbLink">Replace File</span>
					    	<span ng-if="!project.thumbLink">Select File</span>
					    </button>
					    <button ng-if="thumbToUpload" class="btn" ng-click="cancelReplaceThumbnail()">Cancel</button>
					    <button ng-if="project.thumbLink && !thumbToUpload" ng-click="deleteThumb()" class="btn">Delete</button>
				  	</div>
				  	<div>
					  	<img width="200px" ng-if="project.thumbLink && !thumbToUpload" src="{{project.thumbLink}}" alt="thumb"/>
					  	<img ng-if="thumbToUpload" width="200px" ngf-src="thumbToUpload" alt="preview"/>
				 	</div>
			 	</div>
			 	<div ng-show="project.id" class="col-md-6">
			 		<label>Project medias</label>
				  	<div ngf-select="" ngf-drop="" ng-model="freshlySelectedMedias" ng-model-rejected="rejFiles" ngf-multiple="true" ngf-accept="accept" accept="image/*,audio/*,video/*" ng-disabled="disabled" ngf-capture="capture" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-min-size="minSize" ngf-max-size="maxSize" ngf-keep="keep" ngf-keep-distinct="keepDistinct" ngf-reset-on-click="false" ngf-reset-model-on-click="false" ngf-allow-dir="true" class="drop-box ng-pristine ng-valid" ngf-drop-available="dropAvailable">Select File
		            <span ng-show="dropAvailable" class="">or Drop</span>
		         </div>
		         <button ng-click="showHtmlMedia = !showHtmlMedia" type="button" class="btn">Add html media (video | html)</button>
				</div>
		 </div>
		 <div ng-show="showHtmlMedia" class="video-editor form-group">
		 	<div class="row">
		 		<div class="col-md-6">
				 	<label>Html Media</label>
				 	<textarea ui-tinymce="tinymceVideoOptions" ng-model="htmlMedia"></textarea>
			 	</div>
			 	<div ng-if="previewHtmlMedia" class="col-md-6">
			 		<label>Preview</label>
			 		<div ng-bind-html="previewHtmlMedia"></div>
			 	</div>
		 	</div>
		 	<button type="button" class="btn pull-right" ng-click="addHtmlMedia()">Add media</button>
		 </div>
		 <div ng-show="selectedMedias.length" class="project-medias row">
		 	<label>Selected medias</label>
			<ul class="list-inline">
				<li ng-repeat="media in selectedMedias">
					 <img width="200px" ng-show="media.type.indexOf('image') > -1" ngf-src="media" class="thumb" ngf-accept="'image/*'">
					 <span class="progress" ng-show="media.progress >= 0">
					<div style="width:{{media.progress}}%">{{media.progress}}%</div>
				</span>
				</li>
			</ul>
			<button type="button" class="btn upload-medias-btn" ng-click="uploadSelectedMedias()">Upload</button>
		</div>
		<div class="connectedLists">
			<div class="uploaded-medias row">
				<label>Draft medias</label>
				<i ng-class="{'fa-angle-down': !hide, 'fa-angle-left': hide}" ng-click="hide = !hide" class="fa toggle-hide-btn"></i>
				<ul ng-show="!hide" ui-sortable="sortableOptions" ng-model="project.draftMedias" class="list-inline">
					<li ng-click="selectDraftMedia($index)" ng-class="{selected: media.selected}" class="media-item" ng-repeat="media in project.draftMedias">
						<i ng-click="removeDraftMedia($index)" class="delete-btn fa fa-times"></i>

						 <img ng-if="!media.type || media.type.indexOf('image') > -1" height="200px" src="{{media.publicLink}}" class="thumb" />

						 <div class="html-media-holder" ng-if="media.type == 'html'" ng-bind-html="$sce.trustAsHtml(media.html)"></div>

						 <span class="static-caption project-media-caption" ng-show="!editCaption && media.caption" ng-click="editCaption = !editCaption">{{media.caption}}</span>

						 <textarea placeholder="Edit media caption" class="project-media-caption form-control" ng-show="editCaption || !media.caption" ng-keypress="editCaption = true" ng-blur="editCaption = false" ng-model="media.caption"></textarea>
					</li>
				</ul>
				<button ng-show="!hide" ng-click="addMediasToProject()" type="button" class="btn pull-right">Add selection to project</button>
				<button ng-show="!hide" ng-click="selectAllDraftMedias()" type="button" class="btn pull-right">Select all</button>
			</div>
			<div class="published-medias row">
				<label>Published medias</label>
				<ul ui-sortable="sortableOptions" ng-model="project.publishedMedias" class="list-inline">
					<li ng-click="selectPublishedMedia($index)" ng-class="{selected: media.selected}" class="media-item" ng-repeat="media in project.publishedMedias">
						 <i ng-click="removePublishedMedia($index)" class="delete-btn fa fa-times"></i>
						 <img height="200px" src="{{media.publicLink}}" class="thumb" />
						 <span class="static-caption project-media-caption" ng-show="!editCaption && media.caption" ng-click="editCaption = !editCaption">{{media.caption}}</span>
						 <textarea placeholder="Edit media caption" class="project-media-caption form-control" ng-show="editCaption || !media.caption" ng-keypress="editCaption = true" ng-blur="editCaption = false" ng-model="media.caption"></textarea>
					</li>
				</ul>
				<button ng-click="removeMediasFromProject()" type="button" class="btn pull-right">Remove selection from project</button>
				<button ng-click="selectAllPublishedMedias()" type="button" class="btn pull-right">Select all</button>
			</div>
	  </div>
	  <div class="form-group">
	    <label for="tags">Tags</label>
	    <div class="tags-list">
	    	<span class="tag" ng-repeat="tag in project.tags">
		    	<a ui-sref="root.tag.edit({id: tag})">{{tag}}
		    	</a>
		    	<i ng-click="removeTag(tag)" class="delete-btn fa fa-times"></i>
	      </span>
	    	<span ng-click="addSuggestedTag(tag)" class="tag suggested" ng-repeat="tag in suggestedTags">{{tag}}</span>
	    </div>
	    <input placeholder="Search tag" ng-model="tagSearch" class="form-control" type="text" id="tags">
	  </div>
	  <button type="submit" class="btn btn-default">Save</button>
	</form>
	</div>
</div>