@import 'variables';
@import './pages/project.scss';
@import './pages/tag.scss';
@import './pages/list.scss';

body {
	background: white;
}

.form-control {
	width: 300px;
}

.navbar {
	margin-top: 15px;
	margin-bottom: 30px;

	.navbar-brand {
		color: $mintGreen;
		font-weight: bold;
		
	}
}